body {
  background-color: #333;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

body {
  color: white;
}

h1, h2 {
  color: white;
  text-align: center;
  margin: 0;
}

a {
  display: inline-block;
  text-align: center;
  color: white;
  text-decoration: none;
}

a:visited {
  display: inline-block;
  text-align: center;
  color: white;
}

a:hover, a:active {
  display: inline-block;
  text-align: center;
  color: white;
  text-decoration: underline;
}
img {
  display: block;
  margin: 0 auto;
}

p {
  text-align: center;
}
